/* frontend/src/components/LandingPage.css */
.navbar {
    background-color: #007bff; /* Blue background */
    padding: 10px 0px;
    position: fixed; /* Makes the navbar stay in place on scroll */
    top: 0;
    left: 20;
    width: 97%;
    z-index: 1000; /* Ensures the navbar stays above other content */
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Add padding to the top of the page content to prevent overlap */
.landing-page {
    padding-top: 60px; /* Adjust this value if the navbar height changes */
}

