/* frontend/src/styles/BorrowingAndReservations.css */

.borrowing-reservations {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px;
}

.management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #3f51b5;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.management-header h2 {
  margin: 0;
  font-size: 1.8rem;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.management-content {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
}

/* Borrow Book Section */
.borrow-section {
  margin-bottom: 20px;
}

.borrow-section h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.borrow-input,
.borrow-duration-input {
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  width: calc(100% - 22px); /* Full width minus padding and border */
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  display: block;
}

.borrow-button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.borrow-button:hover {
  background-color: #303f9f;
}

.error-message {
  color: #f44336;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}

/* Borrowed Books Section */
.borrowed-books-section {
  margin-top: 30px;
}

.borrowed-books-section h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.borrowed-books-list {
  list-style-type: none;
  padding: 0;
}

.borrowed-book-item {
  background-color: #e3f2fd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.borrowed-book-item h4 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.borrowed-book-item p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0;
}

.book-details {
  display: flex;
  flex-direction: column;
}

.return-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  align-self: flex-start;
}

.return-button:hover {
  background-color: #d32f2f;
}


