.highlights {
    background-color: #fff; /* White background */
    padding: 40px 20px;
    text-align: center;
}

.highlights h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.highlights ul {
    list-style: none;
    padding: 0;
}

.highlights li {
    font-size: 1.2em;
    margin: 10px 0;
}

